@import "@/styles/variables.scss";

.awards {
    position: relative;
    overflow: hidden;

    /* text */
    .text {
        width: 100%;
        position: absolute;
        bottom: 0%;
        left: 0;
        z-index: 5;
        @include paddingArround;

        .wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            h2 {
                @include font-4_5;
                max-width: 60rem;
                width: 100%;
            }

            .logos {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 2rem;

                img {
                    width: 20vw;
                    height: auto;

                    &:first-child {
                        width: 15vw;
                    }
                }
            }
        }

        .border {
            background: $textDark;
            height: 1px;
            width: 100%;
            @include mT4;
        }
    }

    /* Images Container */
    .container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        mask-image: linear-gradient(to top, transparent, $black);

        .col {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            &:nth-child(1),
            &:nth-child(3) {
                margin-top: -8vw;
            }
        }
    }

    @media (max-width: 600px) {
        height: 500px;

        .text {
            .wrapper {
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;

                .logos {
                    align-items: flex-start;
                    gap: 1rem;

                    img {
                        width: 40vw;

                        &:first-child {
                            width: 35vw;
                        }
                    }
                }
            }
        }

        .container {
            gap: .5rem;

            .col {
                gap: .5rem;
            }
        }
    }
}