@import "@/styles/variables.scss";

.projectHero {
    overflow: hidden;
    margin-top: 4rem;

    /* Big  heading */
    h1 {
        font-size: 20.3vw;
        letter-spacing: -.6vw;
        font-weight: lighter;
        line-height: 0.8;
        text-transform: uppercase;

        span {
            @include gradientText;
        }

        @media (max-width: 600px) {
            font-size: 18vw;
            letter-spacing: -0.02em;
            padding: 0 1rem;
            line-height: 0.85;
        }
    }

    @media (max-width: 600px) {
        margin-top: 6rem;
    }
}
